{
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "printWidth": 110,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "bracketSpacing": true,
    "cursorOffset": -1,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "parser": "typescript"
  }
  